/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para a tabela de empresas */
table {
  width: 100%;
  border-collapse: collapse;
}

h1 {
  text-align: center;
  color: #112e5c;
  font-size: large;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.logo {
  height: 40px;
  margin: auto;
}

.navbar {
  background-color: #112e5c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Estilos para os modais */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  margin-top: 16px;
}

.modal label {
  display: block;
  margin-bottom: 8px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

.modal button {
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.modal button[type="submit"] {
  background-color: #007bff;
}

.modal button[type="submit"]:hover {
  background-color: #0056b3;
}

.modal button[type="button"] {
  background-color: #ccc;
}

.modal button[type="button"]:hover {
  background-color: #999;
}

/* Estilos para o botão de adicionar nova empresa */
.adicionar-empresa-button {
  margin: 16px;
}

.adicionar-empresa-button button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #28a745;
  cursor: pointer;
}

.adicionar-empresa-button button:hover {
  background-color: #218838;
}